@font-face {
    font-family: 'Linux Biolinum';
    src: url('/linbiolinum_r.eot');
    src: url('/linbiolinum_r.eot?#iefix') format('embedded-opentype'),
         url('/linbiolinum_r.woff') format('woff'),
         url('/linbiolinum_r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('/linbiolinum_rb.eot');
    src: url('/linbiolinum_rb.eot?#iefix') format('embedded-opentype'),
         url('/linbiolinum_rb.woff') format('woff'),
         url('/linbiolinum_rb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Linux Biolinum';
    src: url('/linbiolinum_ri.eot');
    src: url('/linbiolinum_ri.eot?#iefix') format('embedded-opentype'),
         url('/linbiolinum_ri.woff') format('woff'),
         url('/linbiolinum_ri.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
